.form {
  display: flex;
  border: 1px solid darkgrey;
  border-radius: 5px;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  justify-content: start;
  align-items: start;
}
.button {
  background-color: lightgray;
  border: 1px solid darkgrey;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  margin: 10px auto;
  cursor: pointer;
}
.input {
  width: 300px;
  padding: 5px;
}
.label {
  margin-left: 9px;
  font-size: 10px;
}
